@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MyMusic</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome, Kathlyn!</h2>
        <p>
            Enjoy a mix of your top favorite artists's music playlist.
        </p>
    </div>
</div>
